build/
.pytest_cache/
log/
screenshot/
nametag/
deployment/
maps/
media/
minimaps/
misc/
monster/
numbers/
rune/
video/
dist/
test/
*__pycache__/
*.log
*.DS_Store
*.prof
*.config_tmp.yaml
*config_custom.yaml
*.exe
*.spec
ui_state.json
